<div id="indexContainer">
<img id="backgroundImageIndex" src="/images/spotify-background.jpeg" alt="spotifyBackground">
<form action="/artist-search" method="get">
<input type="text" name="artistName" id="" placeholder="Insert artist name">
<button type="submit">Search for an Artist</button>
</form>
</div>

